#formbox {
  float: left;
  padding: 60px;
  border: 1px solid #999999;
}
#databox {
  float: left;
  width: 500px;
  margin-left: 20px;
  padding: 20px;
  border: 1px solid #999999;
}
h3 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
body {
  background-color: #f2ebc7;
  color: #962d3e;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
}
